@import "~muse-ui/dist/muse-ui.css";
@import '~material-icons/iconfont/material-icons.scss';

font-face {
    font-family: "IranSans";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/IRANSansWeb(FaNum).woff") format("woff")
}

@font-face {
    font-family: "IranSans-Light";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/IRANSansWeb(FaNum)_Light.woff") format("woff")
}

@font-face {
    font-family: "IranSans-Medium";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff")
}

@font-face {
    font-family: "IranSans-Bold";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff")
}

@font-face {
    font-family: "IranSans-Dn";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/iransansdn.woff2") format("woff2")
}

body {
    background-color: #FAFCFF;
}

* {
    margin: 0;
    padding: 0;
}

.rtl {
    direction: rtl;
    font-family: IranSans-Light;
}

.slideDown-enter-active,
.slideDown-leave-active {
    height: auto;
    max-height: 100px;
    transition: all 0.2s ease-out;
}

.slideDown-group-enter-active,
.slideDown-group-leave-active {
    height: auto;
    max-height: 100px;
    transition: all 0.2s ease-out;
}

.maginAuto {
    margin-left: auto;
    margin-right: auto
}

.sidebar {
    background-image: url("/img/3.jpg");
    height: 100vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #FAFCFF;
    height: 100vh;
}

.sidebar {
    font-family: "IranSans-Light";
}

.profileSelction {
    width: 200px;
    margin: 30px auto;
    text-align: center;
    font-family: "IranSans-Light";
    font-size: 13px;
}

.profileSelction img {
    border-radius: 100%;
    margin: 10px auto;
    width: 80px;
    height: 80px;
}

.sidebar .mu-paper-round {
    background-color: transparent;
    box-shadow: unset;
}

.sidebar .mu-item-title {
    text-align: right;
}

.sidebar .mu-item {
    width: 220px;
    margin: 0px auto;
} 
.sidebar a.router-link-active .mu-item-title,.sidebar a.router-link-active .mu-item-action{
  color: #0d47a1;
}
.feedPosts .mu-card{
    margin-left: 15px;
    margin-top: 20px;
    width: 48%;
    margin-bottom: 20px;
    max-width: 500px;
    display: inline-block;
    font-family: IranSans-Light;
    text-align: right;
}
.searchSection .mu-card{
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    display: inline-block;
    font-family: IranSans-Light;
    text-align: right;
}

.feedPosts .mu-card .mu-card-header, .searchSection .mu-card .mu-card-header{
    direction: rtl;
}
.feedPosts .mu-card .mu-card-header-title, .searchSection .mu-card .mu-card-header-title{
    padding-right: 10px;
    padding-top: 7px;
}
.feedPosts,.searchSection{
    overflow: auto;
    text-align: center;
    width: 100%;
    padding: 10px 1%;
    margin: 0 auto;
    height: 100vh;
    direction: rtl;
}
.result > .mu-card {
    display: inline-block;
}
@media screen and (max-width:990px){
    .sidebar{
        display: none;
    }
}